html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #052d33;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.App {
  background-image: url("https://static.nationalgeographicla.com/files/styles/image_3200/public/webbdeepfield.jpg?w=1900&h=1267");
}
/* Bammer */
.banner {
  height: 400px;
  width: 100%;
  min-height: 220px;
  object-fit: cover;
}

/* Search */
.search {
  background-color: #ffffffec;
  color: rgb(36, 36, 36);
  padding: 0.8rem;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 35px 0px rgb(192, 19, 219);
  -moz-box-shadow: 0px 0px 35px 0px rgba(192, 19, 219, 1);
  box-shadow: 0px 0px 35px 0px rgba(192, 19, 219, 1);
}
.search:focus {
  border: 1px solid #87047ca4;
  outline: none;
}
.form-search {
  margin: 3rem;
  text-align: center;
}
.form-search > input {
  width: 30%;
  padding: 2rem;
}
@media (max-width: 768px) {
  .form-search > input {
    width: 90%;
    padding: 2rem;
  }
}
.form-search > button {
  background-color:  rgb(192, 19, 219);
  color: white;
  border-radius: 5px;
  border: transparent;
  margin-left: 1rem;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  .form-search > button {
    margin-top: 1rem;
  }
}
.form-search > button:hover {
  background-color: #87047ca4;
  cursor: pointer;
}

/* Location */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161818c4;
  width: 90%;
  margin: 0 auto 3rem auto;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .location {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .location {
    width: 100%;
    text-align: center;
  }
}
.location > h1 {
  color: rgb(192, 19, 219);
  margin-bottom: 0;
}
.location-info > p {
  color: rgb(192, 19, 219);
  font-weight: bold;
  margin-bottom: 2rem;
}
.location-info span {
  color: #ffffff;
}
.location-info {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 768px) {
  .location-info {
    flex-direction: column;
    gap: 0;
  }
  .location-info p {
    margin: 1rem 0 1rem 0;
  }
  .location-info p:last-of-type {
    margin-bottom: 2rem;
  }
}

/* Cards */
.cards-residents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 2rem 0 2rem;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 35px 0px rgb(192, 19, 219);
  -moz-box-shadow: 0px 0px 35px 0px rgba(192, 19, 219, 1);
  box-shadow: 0px 0px 35px 0px rgba(192, 19, 219, 1);
}
@media (max-width: 768px) {
  .cards-residents {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .cards-residents {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  background-color: #161818c4;
  margin: 0 auto;
  border-radius: 1rem;
  max-width: 300px;
}

.card-img {
  position: relative;
  display: inline-block;
  text-align: center;
}
.status {
  position: absolute;
  color: white;
  background-color: #031619ec;
  top: 0.5rem;
  left: 0px;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dead {
  color: red;
}
.alive {
  color: #28da15;
}
.unknown {
  color: yellow;
}
.card-img > img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 300px;
  width: 100%;
}
.card-info {
  padding: 0 2rem 0 2rem;
}
.card-info > h2 {
  color: white;
  border-bottom: 1px solid rgb(192, 19, 219);
  margin-bottom: 0;
}
.card-info ul {
  list-style: none;
  padding: 0;
}
.card-info li {
  color: rgb(172, 172, 172);
}
.card-info span {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.not-found {
  border-radius: 50%;
  height: 320px;
  width: 320px;
}
.card-not-found {
  text-align: center;
}

/* Footer */
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}
footer i:hover {
  -webkit-box-shadow: 0px 0px 35px 0px rgb(192, 19, 219);
  -moz-box-shadow: 0px 0px 35px 0px rgba(192, 19, 219, 1);
  box-shadow: 0px 0px 35px 0px rgba(192, 19, 219, 1);
 
}
footer {
  background-color: rgb(10, 10, 10);
  color: whitesmoke;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8.5rem;
  margin-top: 60px;
}
.social {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.info-footer {
  margin: 10px 0 0 0 ;
}
